.main {
  height: 100vh;
  width: calc(100% - 266px);
  position: absolute;
  top: 0;
  left: 266px;
  padding: 0 1rem;
}

.overlayer {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
