.menu {
  padding-top: 12.5rem;
}
.titleMenu h1 {
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1rem;
}
.titleMenu p {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
  grid-gap: 1rem;
}

@media (max-width: 850px) {
  .category {
    grid-template-columns: repeat(2, 250px);
  }
}
@media (max-width: 530px) {
  .category {
    grid-template-columns: repeat(1, 250px);
  }
}

.categoryItemGrid a {
  position: relative;
}

.bgItem {
  position: relative;
  left: 25%;
  top: 25px;
  animation: router 30s infinite forwards linear;
}

@keyframes router {
  to {
    transform: rotate(360deg);
  }
}

.textItem {
  text-align: center;
  color: #000;
  font-size: 1.2rem;
  background-color: #fff;
  display: block;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  position: relative;
  top: -38%;
}
