.boxWhats {
  width: 60px;
  height: 60px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #2ecc71;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  cursor: pointer;
  text-align: center;
}
