.homeContent {
  padding: 15rem 0 0 0;
}
.homeContent h1 {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 450px) {
  .homeContent h1 {
    font-size: 3rem;
  }
}
.btnHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 3rem;
}
.btnProducts {
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.5s;
}

.btnProducts:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
}
.btnWhats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: #41a305;
}

.phones p {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
